<html ng-app class="dark">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/font-awesome.css">
		<script type="text/javascript" src="js/angular-1.1.5.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/rainbow-custom.min.js"></script>
		  <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
		  <link href="css/dreamweaver.css" media="screen, projection" rel="stylesheet" type="text/css" />
		  <!--[if IE]>
		      <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		  <![endif]-->

	</head>
	<body ng-controller="dcCtrl">
		<div id="menu" class="light">
			<div data-ng-repeat="item in dc"><a href="#item{{$index}}"><div class="id"><i class="icon-folder-open"></i> {{item.id}}</div></a>
				<a data-ng-repeat="doc in item.documents" href="#{{$parent.$index}}-{{$index}}"><div class="item"><i class="icon-expand"></i> {{doc.url}}</div></a>
			</div>
		</div>
		<div id="mainpage">
			<div data-ng-repeat="item in dc" class="element"><div class="id"><a id="item{{$index}}"><i class="icon-folder-open"></i> {{item.id}}</a></div>
				<div data-ng-repeat="doc in item.documents" class="item">
					<div class="title"><a id="{{$parent.$index}}-{{$index}}"></a>
						<div data-ng-repeat="method in doc.requestMethods" class="method {{$last?'last':''}}">{{method}}</div>
						<div class="url">{{doc.url}}</div>
						<div class="description">{{doc.description}}</div>
					</div>
					<div class="details">
						<p><strong>parameters:</strong></p>
						<table>
							<thead>
								<tr>
							                        <th class="h1">Parameter</th>
							                        <th class="h2">Value</th>
							                        <th class="h3">Description</th>
							                        <th class="h4">Parameter Type</th>
							                        <th class="h5">Data Type</th>
						                      </tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="param in doc.parameters">
									<td class="name h1">{{param.name}} <i data-ng-if="param.required&amp;&amp;!param.value.length>0" class="icon-warning-sign"></i></td>
									<td class="h2" data-ng-switch="param.type.typeName">
										<input data-ng-switch-when="String" type="text" placeholder='({{param.required?"required":"optional"}})' data-ng-model="param.value">
										<input data-ng-switch-when="Integer" type="number" placeholder='({{param.required?"required":"optional"}})' data-ng-model="param.value">
										<input id="{{$parent.$parent.$parent.$index}}-{{$parent.$parent.$index}}-{{param.name}}" onchange="console.log(this.files);" data-ng-switch-when="MultipartFile" type="file" data-ng-model="param.value">
										<textarea data-ng-switch-when="AbstractContent" data-ng-model="param.value" placeholder='({{param.required?"required":"optional"}})' ></textarea>
										<input data-ng-switch-when="Date" type="date" placeholder='({{param.required?"required":"optional"}})' data-ng-model="param.value">
										<input data-ng-switch-when="DateTime" type="datetime" placeholder='({{param.required?"required":"optional"}})' data-ng-model="param.value">
										<input data-ng-switch-when="Boolean" type="string" placeholder='({{param.required?"required":"optional"}})' data-ng-model="param.value">
										<input data-ng-switch-when="DateTime" type="datetime" placeholder='({{param.required?"required":"optional"}})' data-ng-model="param.value">
										<span data-ng-switch-default></span>
									</td>
									<td class="h3">{{param.description}}</td>
									<td class="h4">{{param.parameterLocation}}</td>
									<td class="h5">{{param.type.typeName}}</td>
								</tr>
							</tbody>
		                			</table>
						<p data-ng-if="doc.acceptTypes">Accept type: <select data-ng-model="doc.selectedAcceptType" data-ng-options="type for type in doc.acceptTypes"></select></p>
		                			<button data-ng-repeat="method in doc.requestMethods" data-ng-click="doMethod(method,$parent.$parent.$index,$parent.$index)">{{method}}</button>
						<div data-ng-if="doc.result" class="result">
							<p>Request URL</p>
							<div class="url light">
								<pre>{{doc.result.url}}</pre>
							</div>
							<p>Response Body</p>
							<div class="body">
								<pre><code data-language="{{doc.result.syntax}}" class="">{{doc.result.body}}</code></pre>
							</div>
							<p>Response Code</p>
							<div class="code light">
								<pre>{{doc.result.code}}</pre>
							</div>
							<p>Response Headers</p>
							<div class="header light">
								<pre><code data-language="general" class="">{{doc.result.headers}}</code></pre>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>